body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 245, 249);
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one{

    margin: 50px;

}

.container{
    background-color: rgb(255, 255, 255);
    width: 900px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}


.photographer h1{

    font-size: 60px;
    font-weight: 900;
}
.photographer-section{
    display: flex;
}

.photographer{

    width: 50%;
}

.photographer img{

    width:80%;
}

.button{

    background-color: rgb(255, 230, 0);
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    color: rgb(34, 34, 34);
}


/* section-second */
.section-second{
    text-align: center;

}

.packages{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.package-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.package .package-banner img{

    width: 224px;
    height: 114px;

}
.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #808572;
}

hr{
    text-align: center;
    border: 1px solid #d1d1d1;
    margin-bottom: 50px;
}

.button-down{
    background-color: rgb(255, 230, 0);
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    color: rgb(34, 34, 34);

}

/* service-section */

.services-section{
    display: flex;

}
.services{
    width: 50%;
}

.service-heading{
    font-size: 40px;
    font-weight: 900;

}

.services img{

    width: 80%;
}

/* footer-section */

.footer-section{

    background-color: rgb(2, 6, 37);

}
.footer-text{
    color: white;
    text-align: center;
    padding: 20px;
}


.footer-text a i {
    padding:5px ;
    color: white;
}


/* Mobile-Resposive */

@media only screen and (max-width: 600px) {


    .container {

        width: 100%;

    }

    packages{
        grid-template-columns: repeat(1, 1fr);


    }

  }

    /* tablet-responsive */

    @media only screen and (min-width: 768px){


        .container{
            width: 100%;
        }
    
         .packages{
            grid-template-columns: repeat(2, 1fr);
    
    
        }
    
        
    }


    